 body {
      font-family: Arial, sans-serif;
      background: url('back.jpg') no-repeat center center fixed;
      background-size: cover;
   }
   
   h2 {
      text-align: center;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   }
   
   .image-container {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 20px;
   }
   
   .image-container img {
      width: 50%;
      height: auto;
      border: 1px solid #ccc;
      margin: 5px;
      transition: filter 0.5s;
   }
   
   .image-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.5s;
   }
   
   .image-container:hover img {
      filter: brightness(50%);
   }
   
   .image-container:hover .image-text {
      opacity: 1;
   }
   
   .dimmed {
      filter: brightness(50%);
   }
